.ideas{
	//width:1100px;
	margin:0 auto;
	border-bottom: 1px solid #d6d9dc;
    margin-bottom: 30px;
}
.idea{
	border-top: 1px solid #d6d9dc;
	display: flex;
	padding-left:24px;
	padding-right: 24px;
	padding-top:24px;
	padding-bottom:12px;
}
.idea-author{
	width:58px;
	margin-right: 16px;
	float:none;
	padding:20px;
}
.idea-author img{
	border-radius: 1px;
	width:32px;
	height:32px;
	margin:40px 10px 0 10px;
}
.idea-author p{
	color: #3af;
	font-size: 12px;
	width: 100%;
	text-align: center;
}
.idea-content{
	float:none;
	width:654px;		
}
.idea-content h3{
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #07C;
}
.idea-content .desc{
	color: #3b4045;
	font-size:12px;
	margin-bottom: .5em;
}
.idea-content .tags{
	margin-bottom: .5em;
}
.idea-content .footer{
	margin-bottom: 1em;
	display: flex;
}
.idea-content .footer a{
	font-size: 16px;
	color: #3b4045;
	margin-right: 5px;
}
.idea-content .footer p{
	font-size: 14px;
	margin: 0;
	color: #3b4045;
}
.idea-content .tags a{
	position: relative;
	display: inline-block;
	padding: .4em .5em;
	margin: 2px 2px 2px 0;
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	transition: all .15s ease-in-out;
	    cursor: pointer;
	color: #39739d;
	background-color: #E1ECF4;
	border-color: #E1ECF4;
}
.tags a{
	position: relative;
	display: inline-block;
	padding: .4em .5em;
	margin: 2px 2px 2px 0;
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	transition: all .15s ease-in-out;
	cursor: pointer;
	color: #39739d;
	background-color: #E1ECF4;
	border-color: #E1ECF4;
}
.idea-update{
	width:100px;
	margin-left: 30px;
	float:none;
	padding:4px;
	font-size:20px;
}
.idea-update a{
	color:black;
	display: block; 
	test-align:center;
	vertical-align:middle;
}